/* GOOGLE FONT */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  color: whitesmoke;
  background: hsl(330, 55%, 27%);
}
/* header */
.header {
  margin: 20px 0;
  text-align: center;
}
/* main */
main {
  background: hsl(333, 47%, 37%);
  border-radius: 5px;
  margin: 20px auto;
  width: 50%;
}
/* form */
#survey-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
}
#optional-text {
  font-size: 1.6rem;
}
.form-label {
  width: 100%;
  text-decoration: underline;
  font-size: 2.6rem;
  margin: 5px;
}
.form-input {
  font-size: 2.1rem;
  padding: 5px;
  margin: 5px;
  border: 3px solid black;
  border-radius: 5px;
}
#radio-buttons,
#checkboxes-div {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  border: 3px solid black;
  border-radius: 5px;
}

.radio-checkbox {
  font-size: 2.1rem;
  margin: 5px;
}
#your-day {
  min-height: 120px;
  width: 100%;
  padding: 7.5px;
  margin: 5px;
  resize: vertical;
  font-size: 2.1rem;
}
#submit {
  display: block;
  width: 100%;
  margin: 20px auto;
  padding: 5px;
  background: hsl(333, 47%, 37%);
  border-radius: 5px;
  cursor: pointer;
  font-size: 3.2rem;
  border-radius: 7.5px;
  border: 3px solid black;
}
#submit:hover {
  background: hsl(300, 75%, 25%);
}
@media screen and (max-width: 855px) {
  main {
    width: 75%;
  }
}
@media screen and (max-width: 580px) {
  main {
    width: 90%;
  }
}
